.container-header{
    width: 100%;
    background-color: white;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  

}
.sub-container-header{
    width: 55%;
    height: 200px;
    /* background-color: red; */
    align-items: center;
    justify-content: center;

}
.logo{
    width: 100%;
    height: 40%;
    /* background-color: saddlebrown; */
}
.logo img{
    width: 30vh;
    height: auto;
}
.heading{
    width: 100%;
    height: 60%;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    justify-content: space-between;
}
.main-heading{
    width: 100%;
    height: 50%;
    font-size:2.5rem;
    font-weight: 600;
    /* background-color: saddlebrown; */
}
.sub-heading{
    width: 70%;
    height: 50%;
    font-size:1rem;
    font-weight: 300;
    /* background-color: rgb(121, 96, 77); */
    display: flex;
    align-items:center;
    justify-content: start;
}



@media (max-width:770px){
    .sub-container-header{
        width: 90%;
        height: 200px;
        /* background-color: red; */
        align-items: center;
        justify-content: center;
    
    }
}      

@media (max-width:385px){
    .sub-container-header{
        width: 90%;
        height: 250px;
        /* background-color: red; */
        align-items: center;
        justify-content: center;
    
    }
    .main-heading{
        width: 100%;
        height: 150px;
        font-size:2.5rem;
        font-weight: 600;
        /* background-color: saddlebrown; */
    }
    .sub-heading{
        width: 100%;
        height:80%;
        font-size:1rem;
        font-weight: 300;
        /* background-color: rgb(121, 96, 77); */
        display: flex;
        align-items:center;
        justify-content: start;
    }
    
   
}